@media (max-width: 1199.98px) {
    .intro .title {
        font-size: 50px;
    }
}

@media (max-width: 991.98px) {

    /* Navbar */
    .navbar {
        background-color: var(--gray-100);
        padding: 20px 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }

    .navbar .nav-item {
        border-bottom: 1px solid var(--gray-600);
    }

    .navbar .nav-link,
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 15px 0;
    }

    .navbar form {
        padding: 15px 0;
    }

    .navbar form .btn {
        width: 100%;
    }

    /* Intro section */
    .intro .title {
        font-size: 40px;
    }

    /* Intro Search Form */
    .owl-carousel .sliderImg {
        height: 400px;
    }

    .form-search {
        padding: 0 15px;
        position: relative;
    }

    .form-search .form-section-container {
        margin: 30px auto 0;
        max-width: 600px;
        padding: 30px 20px;
    }

    /* carousel controller */
    .info-slider .owl-nav button.owl-prev {
        top: -15px;
    }

    .info-slider .owl-nav button.owl-next {
        top: -15px;
    }

    /* Facilities */
    .sectionImg {
        height: 400px;
        width: 450px !important;
        object-fit: cover;
        object-position: center;
    }
}

@media (max-width: 767.98px) {
    .owl-carousel .sliderImg {
        height: 250px;
    }
}

@media (max-width: 575.98px) {}