@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&family=Lora:wght@400;700&family=Playfair+Display:wght@400;600;700;800&family=Poppins:ital,wght@0,200;0,400;0,600;1,700&display=swap');

:root {
    --ff-primary: 'Lato', sans-serif;
    --ff-heading: 'Lora', serif;
    --ff-fancy: 'Playfair Display', serif;

    --white: #ffffff;
    --black: #000000;

    --primary: #10375C;
    --warning: #FF5722;
    --dark: #222831;

    --gray-700: #6A6A6A;
    --gray-600: #9A9A9A;
    --gray-100: #f1f1f1;
}

body {
    color: var(--black);
    font-size: 14px;
    font-family: var(--ff-primary);
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
}

.fancy-label {
    align-items: center;
    display: flex;
    font-size: 20px;
    line-height: 30px;
    position: relative;
}

.fancy-label::after {
    content: "";
    background-color: var(--primary);
    height: 2px;
    margin-left: 15px;
    position: relative;
    top: 2px;
    width: 75px;
}

section,
footer {
    padding: 50px 0;
}

.primary {
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.text-warning {
    color: var(--warning) !important;
}

.base_button {
    color: var(--warning);
}

.base_button:hover,
.base_button.active {
    background-color: var(--warning);
    color: var(--white) !important;
}
.lora-regular {
    font-family: var(--ff-heading);
    font-weight: 400;
}
.lora-bold {
    font-family: var(--ff-heading);
    font-weight: 700;
}
.lato-reg{
    font-family: var(--ff-primary);
    font-weight: 400;
}
.lato-bold{
     font-family: var(--ff-primary);
    font-weight: 700;
}
.lato-md {
    font-family: var(--ff-primary);
    font-weight: 500;
}
.mg-bottom {
    margin-bottom: 80px;
}
.sub-heading {
    font-size: 20px;
    line-height: 30px;
}
/* Navbar */
.navbar {
    font-family: var(--ff-primary);
    font-weight: 700;
    padding: 61px 0 56px;
}

.nav-brand {
    color: var(--primary);
    font-family: var(--ff-fancy);
    font-size: 24px;
    text-decoration: none;
}

.nav-brand:hover,
.nav-brand:focus,
.nav-brand:active {
    color: var(--primary);
}

.navbar .nav-link,
.navbar .btn-link {
    border: 0;
    border-radius: 0;
    line-height: 19px;
    padding: 12px 24px;
    text-decoration: none;
}

.navbar .nav-link,
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 12px 20px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
    color: var(--warning);
}

.navbar .btn-link {
    color: var(--warning);
}

.navbar .btn-link.active {
    background-color: var(--warning);
    color: var(--white);
}
/* Intro */
.intro .title {
    font-size: 52px;
    line-height: 66px;
    color: var(--primary);
}
.intro .description {
  color: var(--gray-700);
  font-size: 18px;
  line-height: 30px;
}

/* Owl Carousl */
.owl-carousel .owl-dots {
    line-height: 4px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
}

.owl-carousel button.owl-dot {
    background-color: var(--white);
    height: 4px;
    line-height: 4px;
    opacity: 0.5;
    transition: all ease-in-out 0.2s;
    width: 16px;
}

.owl-carousel button.owl-dot:not(:last-child) {
    margin-right: 4px;
}

.owl-carousel button.owl-dot span {
    display: none
}

.owl-carousel button.owl-dot.active {
    background-color: var(--warning);
    opacity: 1;
    width: 40px;
}

.owl-carousel .sliderImg {
    height: 600px;
    object-fit: cover;
    object-position: center;
}

/* Form Search */
.form-search {
    margin: 0 auto;
    max-width: 1140px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.form-search .form-section-container {
    background-color: var(--primary);
    height: 460px;
    margin-top: 65px;
    max-width: 445px;
    padding: 40px;
    position: relative;
    width: 100%;
    z-index: 9;
}
.form-search .form-search-title {
    font-size: 34px;
    margin-bottom: 30px;
}
.form-search .form-subheading {
    font-size: 16px;
    opacity: 0.35;
}
.form-search .form-field {
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 17px;
}
.form-search  .base_button {
    padding: 15px 0;
}
.form-search  .base_button  .btn-text {
    font-size: 18px;
    line-height: 28px;
}

.arrow {
    background-color: var(--warning);
    position: absolute;
    z-index: 999;
    bottom: 0;
}

.sliderTxt {
    display: none;
}

.sliderItem {
    position: relative;
    height: 400px;
}
.sliderItem > img {
    height: 400px;
}

.overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: var(--primary);
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: var(--white);
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.tab-pill {
    padding: 15px 10px !important;
}
.sliderItem:hover .overlay {
    opacity: 1;

}
.maskImg {
    height: 80px;
    width: 120px !important;
    object-fit: contain;
    position: absolute;
    top: 20px;
    right: 0;
}

.sliderItem:hover .sliderTxt {
    display: block;
}

.vectorimg {
    height: 32px;
    width: 32px;
}
.tab-pane {
    width: 820px;
}
.sectionImg {
    height: 450px;
    width: 100% !important;
}

.clientImg {
    height: 100px !important;
    width: 100px !important;
    object-fit: contain;
}

.customerImg {
    height: 50px;
    width: 50px !important;
    object-fit: contain;
}
.meta-info {
    font-size: 18px;
    line-height: 28px;
    color: var(--gray-600);
}
/* FAQ */
.faq-block {
    height: 170px;
    position: relative;
}

.arrow-down {
    background-color: var(--warning);
    color: var(--white);
    position: absolute;
    bottom: -15px;
}

.faq-block:hover {
    background-color: var(--warning);
    color: var(--white);
}

.faq-block:hover .arrow-down {
    background-color: var(--white);
    color: var(--warning);
}

.faq-text {
    padding: 0 270px;
}
/* Contact */
.pattern {
    background-image: url('../images/pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    bottom: -50px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait-img {
    height: 400px;
    position: absolute;
    bottom: 0;
}

.img {
    height: 300px;
}
/* Footer */
.footer {
    background-color: #0D2C4A;
}

input {
    color-scheme: dark;
}

input:focus,
select:focus {
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    /* display: block; */
    background: url('../images/caret-down.png') no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 45px;
}

select.dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}

.caret-down {
    position: absolute;
    right: 53px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link,
.nav-pills .nav-link:hover {
    background-color: var(--warning);
    width: 250px;
    border-radius: 0;
    padding: 12px;
    margin-bottom: 10px;
}
/* Gallery */
.slider {
    position: relative;
}

.gallery-slider .owl-prev:after {
    content: url('../images/prev.png');
}

.gallery-slider .owl-next:after {
    content: url('../images/next.png');
}

.gallery-slider .owl-prev span,
.gallery-slider .owl-next span {
    display: none;
}

.gallery-slider .owl-nav button.owl-prev {
    position: absolute;
    top: -40px;
    right: 400px;
}

.gallery-slider .owl-nav button.owl-next {
    position: absolute;
    top: -40px;
    right: 280px;
}

.slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
}

.slider-card {
    transform: scale(0.9);
    opacity: 0.5;
    transform: all 0.3s;
}

/* Generic Carousel arrow Style */
/* Owl css carousel 2 & 3*/
.info-slider .owl-nav button {
    position: absolute;
    top: 50%;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.info-slider .owl-nav button.owl-prev{
    right: 115px;
    top: -45px;
}

.info-slider .owl-nav button.owl-next {
    right: 0;
    top: -45px;
}

.info-slider .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.info-slider .owl-nav button:focus{
    outline: none;
}

.info-slider .owl-prev:after {
    content: url('../images/prev.png');
}

.info-slider .owl-next:after{
    content: url('../images/next.png');
    margin-left: 20px;
}

.info-slider .owl-prev span,
.info-slider .owl-next span {
    display: none;
}