@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:wght@400;700&family=Playfair+Display:wght@400;600;700;800&family=Poppins:ital,wght@0,200;0,400;0,600;1,700&display=swap');

/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; 
font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
*/
body {
    margin: 0;
    padding: 0;
    font-size: 14px !important;
    line-height: 24px;
    /* font-family: 'Playfair Display', serif; */
}

* {
    box-sizing: border-box;
}

section,
footer {
    padding: 50px 0;
}

.primary {
    color: #10375C;
}

.bg-primary {
    background-color: #10375C !important;
}

.secondary {
    color: #FF5722;
}

.base_button {
    color: #FF5722;
}

.base_button:hover,
.base_button.active {
    background-color: #FF5722;
    color: #fff !important;
}

/*  */
.navbar {
    padding: 20px 0;
}

.nav-brand {
    font-family: 'Playfair Display', serif;
    font-size: 24px !important;
}

.nav-item a {
    padding-left: 40px;
}

.nav-item a:hover,
.nav-brand:hover {
    color: #FF5722 !important;
}

.nav-item a,
.btnTxt {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.title {
    font-size: 52px;
    font-family: 'Lora', serif;
    font-weight: 700;
}
.searchFormTitle {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 34px;
}
.detailTxt {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 32px;
    padding-left: 100px;
}

.searchForm {
    background-color: #10375C;
    position: relative;
    z-index: 999;
    left: 90px;
}

.form-field {
    background-color: rgba(0, 0, 0, 0.5);
}

.sliderImg {
    height: 600px;
}

.leftSection {
    width: 30%;
}

.leftSection form {
    margin-top: 95px;
}

.rightSection {
    width: 70%;
}

.arrow {
    background-color: #FF5722;
    position: absolute;
    z-index: 999;
    bottom: 0;
}

.mg-left {
    margin-left: -100px;
}

.sliderImg2 {
    position: relative;
}

.sliderTxt {
    display: none;
}

.sliderItem {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: #10375C;
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.sliderItem:hover .overlay {
    opacity: 1;
}

.maskImg {
    height: 80px;
    width: 120px !important;
    object-fit: contain;
}

.sliderItem:hover .sliderTxt {
    display: block;
}

.vectorimg {
    height: 32px;
    width: 32px;
}

.sectionImg {
    height: 400px;
    width: 850px !important;
    /* object-fit: cover; */
}

.clientImg {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.customerImg {
    height: 50px;
    width: 50px !important;
    object-fit: contain;
}

.faq-block {
    height: 170px;
    position: relative;
}

.arrow-down {
    background-color: #FF5722;
    color: #fff;
    position: absolute;
    bottom: -15px;
}

.faq-block:hover {
    background-color: #FF5722;
    color: #fff;
}

.faq-block:hover .arrow-down {
    background-color: #fff;
    color: #FF5722;
}

.faq-text {
    padding: 0 270px;
}

.pattern {
    background-image: url('../images/pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait-img {
    height: 400px;
    position: absolute;
    bottom: 30px;
}

.img {
    height: 300px;
}

.footer {
    background-color: #0D2C4A;
}

input {
    color-scheme: dark;
}

input:focus,
select:focus {
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('../images/caret-down.png') no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

select.dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}

.caret-down {
    position: absolute;
    right: 53px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link,
.nav-pills .nav-link:hover {
    background-color: #FF5722;
    width: 250px;
    border-radius: 0;
    padding: 12px;
    margin-bottom: 10px;
}

.nav-link {
    background-color: #FF5722;
    width: 250px;
    border-radius: 0;
    padding: 12px;
    margin-bottom: 10px;
}

/* Owl css carousel 2 & 3*/
#carousel2 .owl-nav button,
#carousel3 .owl-nav button {
    position: absolute;
    top: 50%;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

#carousel2 .owl-nav button.owl-prev,
#carousel3 .owl-nav button.owl-prev {
    right: 80px;
    top: -50px;
}

#carousel2 .owl-nav button.owl-next,
#carousel3 .owl-nav button.owl-next {
    right: 0;
    top: -50px;
}

#carousel2 .owl-nav button,
#carousel3 .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#carousel2 .owl-nav button:focus,
#carousel3 .owl-nav button:focus {
    outline: none;
}

#carousel2 .owl-prev:after,
#carousel3 .owl-prev:after {
    content: "\f177";
    font-family: 'FontAwesome';
    color: #aaa;
    font-size: 60px !important;
}

#carousel2 .owl-next:after,
#carousel3 .owl-next:after {
    content: "\f178";
    font-family: 'FontAwesome';
    font-size: 60px !important;
    color: #FF5722;
}

#carousel2 .owl-prev span,
#carousel2 .owl-next span,
#carousel3 .owl-prev span,
#carousel3 .owl-next span {
    display: none;
}

/* Owl Carousel 1*/
#carousel .owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

#carousel .owl-prev,
#carousel .owl-next {
    display: none;
}

#carousel .owl-dots {
    text-align: center;
    position: relative;
    top: -100px;
}

#carousel .owl-dots button.owl-dot::after {
    content: url('../images/inactivebar.png');
    font-size: 50px !important;
    margin-right: 5px;
    /* color: #aaa; */
}

#carousel .owl-dots button.owl-dot.active::after {
    content: url('../images/activeBar.png');
    margin-right: 5px;
    /* color: #F78065 !important; */
}

#carousel .owl-dots button.owl-dot:focus {
    outline: none;
}

#carousel .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#carousel .owl-nav span {
    font-size: 70px;
    position: relative;
    top: -5px;
}

#carousel .owl-nav button:focus {
    outline: none;
}

/* Gallery */
.slider {
    position: relative;
}

#carousel4 .owl-prev:after {
    content: "\f177";
    font-family: 'FontAwesome';
    color: #aaa;
    font-size: 60px !important;
}

#carousel4 .owl-next:after {
    content: "\f178";
    font-family: 'FontAwesome';
    font-size: 60px !important;
    color: #FF5722;
}

#carousel4 .owl-prev span,
#carousel4 .owl-next span {
    display: none;
}

#carousel4 .owl-nav button.owl-prev {
    position: absolute;
    top: -40px;
    right: 44%;
}

#carousel4 .owl-nav button.owl-next {
    position: absolute;
    top: -40px;
    right: 38%;
}

.slider .owl-item.active.center {
    /* height: 900px !important; */
}

.slider .owl-item.active.center .slider-card {
    /* height: 700px;
    position: absolute;
    top: -380px;
    object-fit: cover; */
    transform: scale(1.15);
    opacity: 1;
}

.slider .owl-item.active.center .slider-card img {
    /* height: 700px !important; */
}

.slider-card {
    transform: scale(0.9);
    opacity: 0.5;
    transform: all 0.3s;
}